.form-table-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-row, .table-field {
  display: flex;
  width: 100%;
  margin-bottom: 8px; 
  position: relative; 
}

.table-field {
  margin-bottom: 64px; 
}

.table-header,
.table-cell {
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  flex: 1; 
}

.table-header {
  font-weight: bold;
  background-color: transparent; 
  color: inherit; 
}

.table-cell {
  background-color: transparent; 
  text-align: left;
  position: relative; 
}

.table-cell input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.table-cell input[type="text"]:focus {
  outline: none;
  border-color: #888;
}

/* Estilos para los íconos */
.table-icon {
  position: absolute;
  left: -21px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .table-row:first-child {
    display: none;
  }

  .table-row {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .table-header,
  .table-cell {
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
  }

  .table-header {
    font-weight: normal;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .table-cell {
    padding-left: 10px;
    margin-bottom: 10px; 
  }

  .table-cell input[type="text"] {
    max-width: 90%; 
    padding: 8px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 601px) {
  .table-cell {
    display: block; 
  }
  .table-cell-label{
    display: none;
  }
}
